---
import { Icon } from 'astro-icon/components';
import { getHomePermalink } from '~/utils/permalinks';
import { socialLinks } from '~/navigation';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  footNote?: string;
  theme?: string;
}

const { links = [], footNote = '', theme = 'light' } = Astro.props;
---

<footer class:list={[{ dark: theme === 'dark' }, 'relative border-t border-gray-200 dark:border-slate-800 not-prose']}>
  <div class="dark:bg-dark absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div
    class="relative max-w-7xl mx-auto px-4 sm:px-6 dark:text-slate-300 intersect-once intersect-quarter intercept-no-queue motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
  >
    <div class="w-full py-8 md:py-12">
      <div class="flex flex-col md:flex-row justify-between items-center">
        <div class="mb-4 md:mb-0">
          <a class="inline-block font-bold text-xl" href={getHomePermalink()}>Sebastiano Zuddas</a>
        </div>
        
        <div class="flex items-center space-x-4">
          {
            socialLinks.map(({ ariaLabel, icon, href }) => (
              <a
                class="text-muted hover:text-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg p-2 transition-colors duration-150"
                href={href}
                target="_blank"
                rel="noopener noreferrer"
                aria-label={ariaLabel}
              >
                <Icon name={icon} class="w-5 h-5" />
              </a>
            ))
          }
        </div>
      </div>
      
      {links.length > 0 && (
        <div class="grid grid-cols-2 md:grid-cols-4 gap-8 mt-12">
          {links.map(({ title, links }) => (
            <div>
              <div class="dark:text-gray-300 font-medium mb-4">{title}</div>
              {links && Array.isArray(links) && links.length > 0 && (
                <ul class="space-y-2">
                  {links.map(({ text, href, ariaLabel }) => (
                    <li>
                      <a
                        class="text-sm text-muted hover:text-gray-700 hover:underline dark:text-gray-400 transition duration-150"
                        href={href}
                        aria-label={ariaLabel}
                      >
                        {text}
                      </a>
                    </li>
                  ))}
                </ul>
              )}
            </div>
          ))}
        </div>
      )}
      
      {footNote && (
        <div class="mt-8 pt-6 border-t border-gray-200 dark:border-slate-700 text-sm text-muted">
          <Fragment set:html={footNote} />
        </div>
      )}
    </div>
  </div>
</footer>
